.formBox{
    width:75%;
    text-align:left;
    height:100%;
    padding:4% 5%;
    overflow: auto;
}
.tableBox{
    padding:4% 10px;
    overflow: auto;
}
.tableBox h2, .tableBox p{
    padding-left:5%;
}
.formBox form >div{
    display:flex;
}
.formBox form> div div{
    margin-right:2%;
    width:50%;
}
.formBox form> div div div{
    width:100%
}
.formBox button{
    float:right;
    width:30%;
}
@media screen and (max-width: 820px) {
    .formBox form >div{
        flex-direction: column;
    }
    .formBox form>div div{
        width:100%;
    }
  }